<!-- REGISTRATION FORM -->
<div class="page-header">
    <h3>REGISTRATION</h3>
</div>
<!-- Main Form -->
<div class="login-form-1 col-md-6">
    <form id="register-form" class="text-left">
        <div class="login-form-main-message"></div>
        <div class="main-login-form">
            <div class="login-group">
                <div class="form-group">
                    <label for="reg_name" class="sr-only">Name</label>
                    <input type="text" class="form-control" id="reg_name" name="reg_name" placeholder="full name">
                </div>
                
                <div class="form-group">
                    <label for="reg_email" class="sr-only">Email</label>
                    <input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="email address">
                </div>
                
                <div class="form-group">
                    <label for="reg_password" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="password">
                </div>
                
                <div class="form-group">
                    <label for="reg_confirm_password" class="sr-only">Confirm Password</label>
                    <input type="password" class="form-control" id="reg_confirm_password" name="reg_confirm_password" placeholder="confirm password">
                </div>
                
            </div>
            <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="etc-login-form">
            <p>already have an account? <a href="#/login">login here</a></p>
        </div>
    </form>
</div>
<!-- end:Main Form -->