<!DOCTYPE html>
<html>
<head>
<title>AngularJS - Exercises2</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
</head>
<body ng-app="scopeApp">
	<div class="main_content" ng-controller="scopeController">
		<div class="heading_section">
			<h2>AngularJS - Directives example2</h2>
		</div>
		<ul>
			<li ng-repeat="bookCategories in bookNames">{{
				bookCategories.Category }}
				<ul>
					<li ng-repeat="books in bookCategories.books">{{books.name}} -
						{{books.author}}</li>
				</ul>
			</li>
		</ul>
	</div>

</body>
<script>
    var myapp = angular.module("scopeApp", []);
    var myController = myapp.controller("scopeController", function ($scope) {
        $scope.bookNames  = [
		{
			"Category":"Fiction",
			"books" : [
				{
					"name":"Harry Potter and the Order of the Phoenix (Harry Potter, #5)",
					"author":"J.K. Rowling"
				},
				{
					"name":"The Hunger Games (The Hunger Games, #1)",
					"author":"Suzanne Collins"
				}
			]
		},
		{
			"Category":"Autobiography",
			"books" : [
				{
					"name":"Autobiography",
					"author":"Jawaharlal Nehru"
				}
			]
		},
		{
			"Category":"Others",
			"books" : [
				{
					"name":"A Passage to India",
					"author":"E. M. Foster"
				},
				{
					"name":"A week with Gandhi",
					"author":"L. Fischer"
				}
			]
		}
	];
    });
</script>
</html>
