<!DOCTYPE html>
<html>
<head>
<title>AngularJS - Exercises1</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
</head>
<body>
	<div ng-app class="main_content" ng-init="width=234;height=45">
		<div class="heading_section">
			<h2> AngularJS - Directives example1 </h2>
		</div>
		<div class="input_section">
			Width: <input type="text" ng-model="width" /> 
			Height: <input type="text" ng-model="height" /> 
		</div>
		<div class="output_section">
			<div style="width:{{ width }}px; height:{{ height }}px; border: 1px solid black;">
				<span>This box will adjust to given width and height</span>
			</div> 
		</div>
	</div>
</body>
</html>