<style type="text/css">
  h1{
    text-align: center;
  }
  table, th, td{
    border: 1px solid black;
  }
</style>
<h3>Exercise Topics</h3>
<ol ng-init="topics = [
						'List the book details',
            'Provide an option to delete the book details from list'
						]">
	<li ng-repeat="topic in topics">{{topic}}</li>
</ol>
<hr>
<h1>Book List</h1>
<table align="center" ng-init="getBookList();">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>RoleNumber</th>
    <th>Quantity</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="book in booklist">
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
    <td>{{book.rollNumber}}</td>
    <td>{{book.quantity}}</td>
    <td>{{book.status==1?'Available':'Not Available'}}</td>
    <td><a href="#!/exercise3/{{book.id}}/">Edit</a> / <a href="" ng-click="deleteBook(book.id)">Delete</a></td>
  </tr>
</table>
<hr>
<copy-rights></copy-rights>