<div class="container-fluid backColor">
  <div class="row">
  	<div class="col-sm-12 text-left">
  		<div class="col-sm-offset-4 col-sm-5">
  		 	<h2>Library Management</h2>
  		 </div>
		 <div class="col-sm-3 text-right">
  		 	Hi <span ng-show="admin" class="lead text-capitalize"> {{globals.currentUser.username}} !</span>
  		 	<a class="lead text-capitalize" ng-show="! admin" ui-sref="updateProfile({user_id: globals.currentUser.userid})">{{globals.currentUser.username}} !</a>
  		 	<a ui-sref="logout">Logout</a>
  		 </div>
  	</div>
  </div>
  <div class="row content">
    <div class="col-sm-3 sidenav" ng-init="active=true">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{'active': active}"><a ng-click="active = !active" ui-sref="home">Home</a></li>
        <li ng-class="{'active': active}"><a ng-click="active = !active" ui-sref="bookManage">Manage Books</a></li>
        <li ng-class="{'active': active}" ng-show="admin"><a ng-click="active = !active" ui-sref="userManage">Manage Users</a></li>
        <li ng-class="{'active': active}" ng-show="admin"><a ng-click="active = !active" ui-sref="lendingManage">Manage Lendings</a></li>
      </ul><br>
    </div>

    <div class="col-sm-9">
      <div ui-view="mainContent">Welcome {{globals.currentUser.username}}!!!</div>
    </div>
  </div>
</div>


