<div class="container-fluid backColor">
  <div class="row">
  	<div class="col-sm-12 text-center">
  		 <h2>Library Management</h2>
  	</div>
  </div>
  <div class="row">
  	<div class="col-sm-12">
  		 <div class="col-sm-offset-10 col-sm-2">
  		 	Hi <span class="lead text-capitalize"> {{globals.currentUser.username}} !</span>
  		 	<a ui-sref="logout">Logout</a>
  		 </div>
  	</div>
  </div>
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a ui-sref="home">Home</a></li>
        <li ><a ui-sref="bookManage">Manage Books</a></li>
        <li ng-show="admin"><a ui-sref="userManage">Manage Users</a></li>
        <li ng-show="admin"><a ui-sref="lendingManage">Manage Lendings</a></li>
      </ul><br>
    </div>

    <div class="col-sm-9">
      <div ui-view="mainContent">Welcome {{globals.currentUser.username}}!!!</div>
    </div>
  </div>
</div>

