<div class="container-fluid">
    <div class="row">
		<h2>User List</h2>
	</div>
	<div class="row">
    	<div class="col-md-offset-9 col-md-3 lead">
    		<a ng-show="admin" ui-sref="userManage">Back to Users</a>
   		</div>
    </div>
	<div class="row">
		<table id="userActivityTable" class="table table-striped">
		    <thead>
		        <tr>
		            <th>Book Code</th>
		            <th>Book Name</th>
					<th>Lending Status</th>
					<th>Fine paid, if any</th>            
		        </tr>
		    </thead>
		    <tbody>
		        <tr ng-repeat="userActivity in userActivities">
		            <td>{{userActivity.book_id}}</td>
		            <td>{{bookNameList[userActivity.book_id]}}</td>
		            <td>{{userActivity.lending_status}}</td>
		            <td>{{userActivity.fine_paid}}</td>
		        </tr>
		    </tbody>
		</table>
	</div>
</div>