<div ng-include src="'../src/app/Common/View/errorMessage.tpl.html'"></div>
<!-- Main Form -->
    <div><h2> Login </h2></div>
<div class="col-md-8"></div>
<div class="login-form-1 col-md-4">
    <form id="loginForm" ng-submit="login()" name="loginForm" autocomplete="off" novalidate class="text-left">
        <div class="login-form-main-message"></div>
        <div class="main-login-form">
            <div class="login-group">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" required ng-model="email" id="email" name="email" placeholder="enter your email address">
                    <span class="alert-danger" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                        <span ng-show="loginForm.email.$error.required">Email address is required.</span>
                        <span ng-show="loginForm.email.$error.email">Please provide a valid email address.</span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" required ng-model="password" id="password" name="password" placeholder="password">
                    <span class="alert-danger" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                        <span ng-show="loginForm.password.$error.required">Password is required.</span>
                    </span>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Login <i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="etc-login-form">
            <p>New user? <a href="#/registration">Create New Account</a></p>
        </div>
    </form>
</div>
<!-- end:Main Form -->