<div ng-include src="'../src/app/Api/View/errorMessage.tpl.html'"></div>
<div ng-include src="'../src/app/Api/View/topNav.tpl.html'"></div>
    <h2>Available Books List</h2>
    Search By Book Name : <b>{{bookName}}</b>
    <br/>
        <input type="text" ng-model="bookName" />
    <br/>
<div class="panel panel-default">
    <div class="panel-heading">List of Available books</div>
    <table class="table table-bordered table-striped" style="border:1px;">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
            <th>Code</th>
            <th>Book Rack No</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="book in bookList | orderBy:sortType:sortReverse | filter:bookName">
            <th scope="row">{{$index + 1}}</th>
            <td><a href="#/book/{{book.id}}">{{book.book_name}}</a></td>
            <td>{{book.author_name}}</td>
            <td>{{book.price}}</td>
            <td>{{book.book_code}}</td>
            <td>{{book.rack_no}}</td>
            <td>
            <a class="btn btn-info" ng-if="user.isAdmin == 1" href="#/book/edit/{{book.id}}">Edit</a>&nbsp;
            <a class="btn btn-danger" ng-if="user.isAdmin == 1" href="javascript:void(0);" ng-click="deleteBook(book);">Delete</a>&nbsp;
            <a class="btn btn-info" ng-if="user.isAdmin != 1 && book.book_status < 1" href="javascript:void(0);" ng-click="lendBook(book,user);">Lend</a>&nbsp;
            <a ng-if="user.isAdmin == 1 && book.book_status == 1" class="btn btn-success" href="javascript:void(0);" ng-click="approveBook(book);">Approve</a>
            &nbsp; &nbsp;<a class="btn btn-danger" ng-if="user.isAdmin == 1 && book.book_status >= 1" href="javascript:void(0);" ng-click="rejectBook(book);">Reject</a></td>
        </tr>
    </tbody> 
    </table>
</div>