<div ng-include src="'../src/app/Api/View/topNav.tpl.html'"></div>
<div ng-include src="'../src/app/Api/View/errorMessage.tpl.html'"></div>
    <h2> My Books </h2>
    Search By Book Name : <b>{{bookName}}</b>
    <br/>
        <input type="text" ng-model="bookName" />
    <br/>
<div class="panel panel-default">
    <div class="panel-heading">My Lend books</div>
    <table class="table table-bordered table-striped" style="border:1px;">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Author</th>
            <th>Price</th>
            <th>Code</th>
            <th>Book Rack No</th>
            <th>Book Return Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="book in bookList | orderBy:sortType:sortReverse | filter:bookName">
            <th scope="row">{{$index + 1}}</th>
            <td><a href="#/book/{{book.id}}">{{book.book_name}}</a></td>
            <td>{{book.author_name}}</td>
            <td>{{book.price}}</td>
            <td>{{book.book_code}}</td>
            <td>{{book.rack_no}}</td>
            <td>{{book.book_return_date}}</td>
            <td><b>{{book.book_status ==1 ? "Waiting for Approval" : "Approved"}}</b></td>
            <td><a class="btn btn-warning" href="javascript:void(0);" ng-click="returnBook(book);">Return</a></td>
            
        </tr>
    </tbody> 
    </table>
</div>