<div ng-include src="'../src/app/Common/View/topNav.tpl.html'"></div>
    <h2> View Book Details </h2>
<div class="panel panel-default">
  <div class="panel-body">
  <div class="panel-heading">{{bookData.book_name}}</div>
    <div class="col-sm-6"><b>Author Name: </b> {{book.author_name}}</div>
    <div class="col-sm-6"><b>Price : </b> {{price}}</div>
    <div class="col-sm-6"><b>Book Code : </b> {{bookData.book_code}}</div>
    <div class="col-sm-6"><b>No.Of Books : </b> {{bookData.no_of_books}}</div>
  </div>
</div>