<h2>Book List</h2>

<table id="bookTable" class="table table-striped">
    <thead>
        <tr>
            <th>Roll Number</th>
            <th>Book title</th>
            <th>Author Name</th>
            <th>Quantity</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="book in bookList">
            <td>{{book.book_id}}</td>
            <td>{{book.book_name}}</td>
            <td>{{book.author_name}}</td>
            <td>{{book.quantity}}</td>
            <td>{{(book.status == 1) ? 'available' : 'unavailable'}}</td>
            <td><a ui-sref="bookUpdate({id : book.book_id})">Edit</a> | <a
                ui-sref="bookDelete({id : book.book_id})">Delete</a>
            </td>
        </tr>
    </tbody>
</table>